/* CSS for MediaRow component */

.media-row-container {
	margin: 20px;
}

.media-row {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.media-row-item {
	width: 185px;
	height: 278px;
}

.media-row-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
