/* CSS for MediaRow component */

.media-row-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.media-row-header h3 {
	margin: 0;
}

.view-more-btn {
	padding: 8px 16px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
}

.view-more-btn:hover {
	background-color: #333;
}

.media-row {
	display: flex;
	flex-direction: row;
	gap: 16px;
	overflow-x: scroll;
}

.media-row-item {
	width: 185px;
	height: 278px;
}

.media-row-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
